*{
	margin: 0px;
	padding: 0px;
}

#wrapper{
	background-color: white;
}

#header{
	display: block;
	background-color: #0c4b33;
	/*height: 50px;*/
	padding: 10px 2%;
}

#title{
	font-size: 40px;
	color: white;
	display: inline-block;
	vertical-align: top;
}

#moto{
	display: inline-block;
	vertical-align: top;
	color: #44d78b;
	width: 200px;
	font-size: 15px;
	margin-top: 5px;
	margin-left: 10px;

}

#nav{
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 15%;
}

.nav_links{
	display: inline-block;
	vertical-align: top;
	color: white;
	margin-right: 10px;

}

#get_started{
	text-align: center;
	margin-top: 90px;
	border-bottom: 1px solid #CFE3DC;

}

#get_started_statement{
	font-size: 36px;
	margin: 0px 350px;
}

#get_started_link{
	margin: 50px auto;
	background-color: #44B78B;
	width: 250px;
	padding: 20px 0px;
	border-radius: 10px;
	color:white;
}







































